<div class="cart-container">
  <div class="search-container">
    <h1 class="title"> My Cart </h1>
    <div class="search-bar">
      <input type="text" pInputText [(ngModel)]="searchText" (input)="getFilteredCartItems()" />
      <i class="pi pi-search search-icon"></i>
    </div>
  </div>
  <p-progress-spinner class="spinner-container" *ngIf="isLoading" strokeWidth="8" fill="transparent"
    animationDuration=".5s" [style]="{ width: '50px', height: '50px' }" />
  <div *ngIf="cartItems.length>0;  else emptyCart">
    <div class="cart-grid">
      <div *ngFor="let item of getFilteredCartItems()" class="cart-card">
        <div class="details">
          <img [src]="item.image" alt="{{ item.name }}" class="cart-img" />
          <div class="cart-details">
            <h3>{{ item.name }}</h3>
            <p>{{ item.description }}</p>
            <div class="flex">
            <div class="quantity-controls">
              <button pButton icon="pi pi-minus" (click)="decrementQuantity(item)" class="p-button-text"></button>
              <span>{{ item.quantity }}</span>
              <button pButton icon="pi pi-plus" (click)="incrementQuantity(item)" class="p-button-text"></button>
            </div>
            <span class="actions">
              <i class="fa-solid fa-trash-can trash" (click)="removeFromCart(item)"></i>
            </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="cart-summary">
      <button pButton label="Place Order" class="checkout-btn" (click)="checkOut()"></button>
    </div>
  </div>
  <ng-template #emptyCart>
    <p>Your cart is Empty</p>
  </ng-template>
  <p-toast position="top-right"></p-toast>