<form #userForm="ngForm" class="user-form">
  <div class="form-header">
    <!-- <h2>Edit User</h2> -->
    <button type="button" class="close-btn" (click)="cancelDailog()">&times;</button>
  </div>

  <div class="profile-section">
    <div class="profile-pic">
      <img [src]="userImage" alt="User Image" />
      <input type="file" (change)="onImageUpload($event)" accept="image/png, image/jpeg" />
    </div>
  </div>

  <div class="form-group-container">
    <div class="form-group">
      <label>Username</label>
      <input type="text" [(ngModel)]="newUser.username" name="username" required maxlength="20" [disabled]="isEditing" class="form-control" />
    </div>

    <div class="form-group">
      <label>First Name</label>
      <input type="text" [(ngModel)]="newUser.firstName" name="firstName" required maxlength="30" class="form-control" />
    </div>

    <div class="form-group">
      <label>Last Name</label>
      <input type="text" [(ngModel)]="newUser.lastName" name="lastName" maxlength="30" class="form-control" />
    </div>
  </div>

  <div class="form-group-container">
    <div class="form-group gender-group">
      <label>Gender</label>
      <p-selectButton [options]="genders" [(ngModel)]="newUser.gender" name="gender"></p-selectButton>
    </div>

    <div class="form-group">
      <label>Date of Birth</label>
      <input type="date" [(ngModel)]="newUser.dob" name="dob" required class="form-control" />
    </div>
  </div>

  <div class="form-group-container">
    <div class="form-group">
      <label>Email</label>
      <input type="email" [(ngModel)]="newUser.email" name="email" required maxlength="100" class="form-control" />
    </div>
    
    <div class="form-group">
      <label>Mobile Number</label>
      <input type="text" [(ngModel)]="newUser.mobile" name="mobile" required maxlength="10" class="form-control" />
    </div>
  </div>

  <div class="form-group-container">
    <div class="form-group">
      <label>Country</label>
      <p-select [options]="countries" [(ngModel)]="newUser.country" name="country" (onChange)="onCountryChange()" required></p-select>
    </div>

    <div class="form-group">
      <label>State</label>
      <p-select [options]="states" [(ngModel)]="newUser.state" name="state" required></p-select>
    </div>
  </div>

  <div class="form-group-container">
    <div class="form-group">
      <label>Locale</label>
      <p-select [options]="locales" [(ngModel)]="newUser.locale" name="locale"></p-select>
    </div>

    <div class="form-group">
      <label>Is Admin</label>
      <input type="checkbox" [(ngModel)]="newUser.isAdmin" name="isAdmin" [disabled]="isEditing" />
    </div>
  </div>

  <div class="form-group-container">
    <div class="form-group">
      <label>New Password</label>
      <p-password [(ngModel)]="newUser.password" name="password" required toggleMask="true"></p-password>
    </div>

    
  </div>
  <div class="form-footer">
    <p-button label="Cancel" icon="pi pi-times" (click)="cancelDailog()" class="p-button-text" />
    <p-button label="Save" icon="pi pi-check" (click)="saveUser()" />
  </div>
</form>
