<form #userForm="ngForm" class="user-form">
  <div class="form-header">
    <!-- <h2>Edit User</h2> -->
    <button type="button" class="close-btn" (click)="cancelDailog()">&times;</button>
  </div>

  <div class="avatar-container">
    <input type="file" id="fileInput" accept="image/png, image/jpeg" (change)="onFileSelected($event)" hidden />
    <div class="avatar-wrapper" (click)="triggerFileInput()">
      <img *ngIf="imageUrl; else defaultAvatar;  " [src]="imageUrl" alt="Avatar" class="avatar" [(ngModel)]="imageUrl"/>
      <ng-template #defaultAvatar>
        <img src="assets/images/defaultAvatar.png" alt="Default Avatar" class="avatar" />
      </ng-template>
      <!-- else initialsAvatar 
      <ng-template #initialsAvatar>
        <div class="avatar-initials">{{ userInitials }}</div>
      </ng-template> -->

      <div class="edit-icon">
        <i class="pi pi-pencil"></i>
      </div>
    </div>
  </div>

  <div class="form-group-container">
    <div class="form-group">
      <label>Username</label>
      <input type="text" [(ngModel)]="newUser.username" name="username" required maxlength="20" [disabled]="isEditing" class="form-control" />
    </div>

    <div class="form-group">
      <label>First Name</label>
      <input type="text" [(ngModel)]="newUser.firstName" name="firstName" required maxlength="30" class="form-control" />
    </div>

    <div class="form-group">
      <label>Last Name</label>
      <input type="text" [(ngModel)]="newUser.lastName" name="lastName" maxlength="30" class="form-control" />
    </div>
  </div>

  <div class="form-group-container">
    <div class="form-group gender-group">
      <label>Gender</label>
      <p-selectButton [options]="genders" [(ngModel)]="newUser.gender" name="gender"></p-selectButton>
    </div>

    <div class="form-group">
      <label>Date of Birth</label>
      <input type="date" [(ngModel)]="newUser.dob" name="dob" required class="form-control" />
    </div>
  </div>

  <div class="form-group-container">
    <div class="form-group">
      <label>Email</label>
      <input type="email" [(ngModel)]="newUser.email" name="email" required maxlength="100" class="form-control" />
    </div>
    
    <div class="form-group">
      <label>Mobile Number</label>
      <input type="text" [(ngModel)]="newUser.mobile" name="mobile" required maxlength="10" class="form-control" />
    </div>
  </div>

  <div class="form-group-container">
    <div class="form-group">
      <label>Country</label>
      <p-select [options]="countries" [(ngModel)]="newUser.country" name="country" (onChange)="onCountryChange()" required></p-select>
    </div>

    <div class="form-group">
      <label>State</label>
      <p-select [options]="states" [(ngModel)]="newUser.state" name="state" required></p-select>
    </div>
  </div>

  <div class="form-group-container">
    <div class="form-group">
      <label>Locale</label>
      <p-select [options]="locales" [(ngModel)]="newUser.locale" name="locale"></p-select>
    </div>

    <div class="form-group">
      <label>Is Admin</label>
      <input type="checkbox" [(ngModel)]="newUser.isAdmin" name="isAdmin" [disabled]="isEditing" />
    </div>
  </div>

  
  <div class="form-group">
    <label for="password">Password<span class="required">*</span></label>
    <p-password [(ngModel)]="newUser.password" 
                name="password" 
                required
                feedback="false" 
                toggleMask="true" 
                inputId="password"
                inputStyleClass="w-full"
                styleClass="w-full">
    </p-password>
  </div>
  

  <div class="form-footer">
    <p-button label="Cancel" icon="pi pi-times" (click)="cancelDailog()" class="p-button-text" />
    <p-button label="Save" icon="pi pi-check" (click)="saveUser()" />
  </div>
</form>
