<div class="container">
    <h2>Home Page</h2>
    <div class="content">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
             Saepe, ipsum harum obcaecati voluptates totam vero! Inventore
              molestiae, cumque accusantium eius dicta minima quae maxime vel 
              ipsum, magni tempore nihil, modi beatae culpa! Est praesentium ut 
              atque, quidem sapiente deleniti 
            suscipit perferendis ipsum aperiam! Tempore, magnam vel dolore 
            cumque laboriosam culpa.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Saepe, ipsum harum obcaecati voluptates totam vero! Inventore
                 molestiae, cumque accusantium eius dicta minima quae maxime vel 
                 ipsum, magni tempore nihil, modi beatae culpa! Est praesentium ut 
                 atque, quidem sapiente deleniti 
               suscipit perferendis ipsum aperiam! Tempore, magnam vel dolore 
               cumque laboriosam culpa.</p>
    </div>
</div>