.card {
  position: fixed;
  width: 100vw;
  background: #FFFFFF;
  box-shadow: 3px 1px 4px rgba(65, 64, 64, 0.25);
}

.end {
  width: 173px;
  height: 41px;
  margin-top: 15px;
}

.end i {
  width: 25px;
  height: 25px;
  background: #CCE7FE;
  border-radius: 50%;
  text-align: center;
  align-content: center;
  margin: 5px;
  color: rgba(101, 101, 101, 1);
}

.end i:last-child {
  color: rgba(65, 108, 162, 1);
}

i {
  cursor: pointer;
}

.end i:first-child {
  color: rgba(61, 31, 119, 1);
}

:host ::ng-deep .p-menubar {
  border: none !important;
  border-radius: 0px !important;
  height: 70px !important;
  align-items: center;
  display: flex;
  width: 100vw;
}

:host ::ng-deep .p-menubar>div {
  text-align: center;
}

.flex {
  display: flex;
}

img {
  height: auto;

  width: 133px;
  height: 50px;
  min-width: 80px;
  left: 20px;
  position: relative;
}

.pi-bell {
  position: relative;
  font-size: 24px;
  color: #000;
}

.pi-bell .badge {
  position: absolute;
  top: -6px;
  right: -6px;
  color: white;
  border-radius: 50%;
  width: 19px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  width: 19px;
  height: 19px;
  background: #FFA333;
  font-family: Poppins;
  font-weight: 500;
  font-size: 11px;
  line-height: 100%;
  letter-spacing: 0%;
}

@media (max-width: 768px) {
  img {
    width: 25%;
    max-width: 120px;
  }

  .end {
    margin-top: 0px;
  }

}

@media (max-width: 600px) {
  img {
    width: 30%;
    max-width: 100px;
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: auto;
    padding: 10px 0;
  }


  .end {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .end i {
    width: 30px;
    height: 30px;
    margin: 5px;
  }
}

@media (max-width: 600px) {
  .card {
    flex-direction: column;
    height: auto;
  }

  .end {
    justify-content: center;
  }
}