<div class="card">
    <p-menubar >
        <ng-template #start>
            <img src="assets/images/logo.png" alt="">
        </ng-template>
        <ng-template #end>
           
            <div  class="flex items-center gap-2 end">
                <i class="pi pi-home"></i>
                <i class="pi pi-bell"></i>
                <i class="pi pi-moon"></i>
                <i class="pi pi-power-off"></i>
            </div>
        </ng-template>
    </p-menubar>
</div>
<app-header></app-header>