
.charts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.container {
  flex: 1;
  min-width: 300px; 
  padding: 10px;
}

:host ::ng-deep .p-chart {
  width: 100% !important;
  /* height: 00vh!important; */
}
.col6 {
  width: 50%;
  height: 100%;
}
h2 {
  font-size: 20px;
  text-align: center;
  color: #333; /* Adjust to match your template */
  margin-bottom: 10px;
}
.container{
  background-color: white;
  border-radius: 5px;
  padding: 16px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 90%;
  /* height: 100%; */
  }
@media (max-width: 768px) {
  .charts-container {
    flex-direction: column;
  }
}
@media (max-width: 340px) {
  .container {
    width: 100%;
    padding: 5px;
  }

  :host ::ng-deep .p-chart {
    height: 400px !important; 
  }
  h2 {
    font-size: 18px; 
  }
}
