<div class="charts-container">
  <p-progress-spinner  class="spinner-container" *ngIf="isLoading" strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '50px', height: '50px' }" />

  <div class="chart-box" *ngIf="!isLoading">
    <h2>Orders in Weekdays</h2>
    <p-chart type="line" 
    [data]="lineChartData"
    [options]="lineChartOptions"
     class="chart"></p-chart>
  </div>
  

  <div class="chart-box" *ngIf="!isLoading">
    <h2>Quantity vs Product Names</h2>
    <p-chart type="bar"
     [data]="barChartData"
     [options]="lineChartOptions"
     class="chart chart2"></p-chart>
  </div>
</div>

