.charts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  height: 90vh;
}

.chart-box {
  flex: 1 1 48%;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 20px;
  min-width: 300px;
}

.chart-box h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  text-align: center;
}

:host ::ng-deep .chart > div,
:host ::ng-deep .chart canvas {
  height: 600px !important;
  width: 100% !important;
}

@media (max-width: 768px) {
  .chart-box {
    flex: 1 1 100%;
  }
}