.user-container{
position: relative;
width: 92vw;
justify-content: center;
height: 80vh;
left: 78px;
top: 102px;
background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 6px;
}
.container{
   background-color:  rgba(225, 234, 245, 1);
   height: 100vh;
   width: 100vw;
   overflow: hidden;
   margin: 0;
   padding: 0;
  
   /* display: flex; */
   /* justify-content: center; */
}
.heading{
width: 213px;
height: 27px;
/* padding: 20px; */
font-family: 'Poppins';
/* font-style: normal; */
font-weight: 600;
font-size: 18px;
line-height: 27px;

color: #333333;
}
.card{
    height: 80vh;

}
:host ::ng-deep thead{

    background-color: #EAEAEA;
}
/* :host ::ng-deep.p-datatable{
} */
:host ::ng-deep .p-datatable-thead>tr>th{
    padding: 5px 20px !important;
    border: none;
     border-bottom:1px solid #E1E1E1 !important;
}
:host ::ng-deep .p-datatable-tbody>tr>td{
    padding: 5px 20px !important;
    border: none;
border-bottom:1px solid #E1E1E1 !important;
}

.grid{
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
.add{
background: #3443A0;
border-radius: 3px;
padding: 5px;
color: white;
font-weight: 800;

.fa-trash-can{
    color: #75767C;
}


}