body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  overflow: auto;
  left: 0;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  width: 100vw;
}

.image-container {
  display: flex;
  overflow-x: hidden;
  width: 50vw;
}

.sign-header {
  text-align: center;
  margin-top: 80px;
  height: 37px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  color: #000000;
  margin-bottom: 0;
}

.column {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.image {
  max-width: 100%;
  height: auto;
}

.remove-avatar-btn {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background-color: red;
  color: white;
  border-radius: 50%;
  border: none;
  padding: 5px 5px;
  cursor: pointer;
  font-size: 12px;
}

.return {
  cursor: pointer;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}


:host ::ng-deep .p-button {
  border: none !important;
  background-color: rgba(41, 165, 243, 1) !important;
  border-radius: 5px !important;
  padding: 16px !important;
  cursor: pointer;
  height: 50px;
}

:host ::ng-deep .p-inputgroupaddon:first-child {
  background-color: rgba(243, 243, 243, 1);
  border: none;
  border-radius: 5px;
  color: #000000;
}

:host ::ng-deep .p-selectbutton .p-togglebutton {
  background-color: none !important;
  border-radius: 5px !important;
  margin-right: 10px;
  line-height: 100%;
  width: 94px;
  height: 50px;
}

:host ::ng-deep .p-selectbutton {
  width: 100% !important;
}

:host ::ng-deep .p-checkbox-box {
  border: 2px solid rgba(90, 90, 90, 1)
}

:host ::ng-deep .p-checkbox.p-disabled .p-checkbox-box {
  border: 2px solid rgba(90, 90, 90, 1)
}

.no-resize {
  resize: none;
  overflow: hidden;
}


.input-box,
.select-box {
  margin-top: 25px;
  height: 84px;

}

.btn {
  height: 50px !important;
}

.input-box label,
.select-box label,
.gender label {
  display: block;
  margin-bottom: 10px;
  height: 24px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #333333;

}
:host ::ng-deep .select-box .p-select,
.input-box input  {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: rgba(243, 243, 243, 1);
  border: none;
  height: 50px;
  background: #F3F3F3;
  border-radius: 5px;
  font-family: "Montserrat" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 17px !important;
  color: #000000 !important;

}
:ng-deep textarea:focus-visible{
  outline: none !important;
}


:host ::ng-deep .p-inputtext {
  width: 100% !important;
  background-color: rgba(243, 243, 243, 1) !important;
  border-radius: 5px !important;
  border: none !important;
  font-family: 'Montserrat' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 17px !important;
  color: #000000 !important;
  height: 50px;
}

:host ::ng-deep .p-datepicker {
  display: flex !important;
}
:host ::ng-deep .p-button:focus-visible {
  outline: none !important; 
  border: none !important; 
  box-shadow: none  !important; 
}

.gender {
  margin-top: 25px;
  height: 50px;
  width: 100% !important;
}

.address {
  display: flex;
  flex-direction: column;
  height: 100px;
}

.column .input-box,
.column .select-box {
  width: 100%;
}

.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-wrapper {
  position: relative;
  width: 126px;
  height: 126px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.edit-icon:hover {
  border: #007bff;
}

.edit-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;

}

:host ::ng-deep.flex {
  margin-left: 120px !important;
  margin-right: 120px !important;
}

.form-box {
  width: 100%;
  height: 100%;
}

.float-but {
  display: block;
  width: 100%;
  margin: 10px;
}

.float-but a:hover {
  text-decoration: underline;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 15px;
}

.pagination-icon {
  font-size: 20px;
  color: rgba(41, 165, 243, 1);
  cursor: pointer;
}

.pagination-icon.disabled {
  color: #ccc;
  cursor: not-allowed;
}

.step-indicator {
  display: flex;
  gap: 10px;
}

.step-indicator span {
  width: 10px;
  height: 10px;
  border-radius: 1px;
  border: 1px solid rgba(41, 165, 243, 1);
  background: #ccc;
  transform: rotate(45deg);
}

.step-indicator .active {
  background: rgba(41, 165, 243, 1);
}

:host ::ng-deep .p-selectbutton .p-togglebutton {
  background-color: rgba(243, 243, 243, 1) !important;
}

:host ::ng-deep .p-selectbutton .p-togglebutton-checked {
  background-color: rgba(41, 165, 243, 1) !important;
}

:host ::ng-deep .p-togglebutton.p-togglebutton-checked::before {
  background-color: rgba(41, 165, 243, 1) !important;
}


:host ::ng-deep .p-inputtext:hover {
  border: none !important;
  background-color: rgba(243, 243, 243, 1) !important;
}

.checkbox {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 40px;
}

.checkbox input {
  width: 20px;
  height: 20px;
  display: flex;
  margin: -5px;
}

.column .checkbox {
  gap: 10px;
}

input:-internal-autofill-selected {
  background-color: none;
}

textarea {
  width: 100%;
  height: 100px;
  background-color: rgba(243, 243, 243, 1) !important;
  border-radius: 5px !important;
  border: none !important;
  font-family: 'Montserrat' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 17px !important;
  color: #000000 !important;
  padding: 12px !important;
}

:host ::ng-deep .p-password-toggle-mask-icon {
  top: 50%;
}

@media (max-width: 1024px) {
  :host ::ng-deep.flex {
    display: block !important;
    margin-left: 100px !important;
    margin-right: 100px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  .input-box,
  .select-box,
  .gender {
    height: auto;
    margin-top: 15px;
  }

  .input-box input,
  :host ::ng-deep .select-box .p-select,
  textarea,
  :host ::ng-deep .p-inputtext {
    height: 35px;
    padding: 6px;
    font-size: 14px;
  }

  .sign-header {
    height: auto;
    margin-top: 20px;
    font-size: 23px;
  }

  .avatar-wrapper {
    width: 100px;
    height: 100px;
  }

  .form-box {
    height: auto;
  }

  :host ::ng-deep.flex {
    margin-left: 100px !important;
    margin-right: 100px !important;
  }

  :host ::ng-deep .p-selectbutton .p-togglebutton {
    height: 35px !important;
    width: 65px !important;
  }

  textarea {
    height: 35px;
  }

  :host ::ng-deep .p-button {
    height: 40px;
  }

  .btn {
    height: 40px !important;
  }
}


@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .sign-header {
    font-size: 20px;
  }

  :host ::ng-deep .p-selectbutton .p-togglebutton {
    width: 85px !important;
  }

  .image-container {
    display: none;
  }

  :host ::ng-deep .p-selectbutton {
    justify-content: flex-start !important;
  }

  .column .input-box,
  .column .select-box {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .form-wrapper {
    padding: 10px;
  }

  .column {
    flex-direction: column;
    gap: 0 !important;
  }

  :host ::ng-deep.flex {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  .input-box input,
  :host ::ng-deep .select-box .p-select,
  textarea {
    padding: 10px;
  }

  .input-box,
  .select-box {
    padding: 10px;
    width: 100% !important;
  }

  .gender {
    width: 100% !important;
    margin-left: 3%;
  }

  .p-inputtext:focus,
  .p-inputtext:active {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }

  :host ::ng-deep .p-selectbutton .p-togglebutton {
    width: 65px !important;
  }
}

@media (max-width: 345px) {
  .form-wrapper {
    padding: 10px;
  }

  :host ::ng-deep.flex {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  .p-inputtext:focus,
  .p-inputtext:active {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }
}