<div class="grid-container min-h-screen">
    <div class="image-container">
      <img src="assets/images/shopsy.png" alt="shopsy image" class="image">
    </div>
    <div class="form-container flex justify-content-center align-items-center">
      <p-card header="SIGN UP">
        <p-progress-spinner *ngIf="isLoading" strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '50px', height: '50px' }"></p-progress-spinner>
        <form class="form" (ngSubmit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
          <div *ngIf="currentStep === 1">
            <div class="input-box">
              <label>User Name</label>
              <input type="text" placeholder="username" name="username"  #uname="ngModel" maxlength="20"  [(ngModel)]="userName" required />
              <div>
                <small *ngIf="uname.invalid && uname.touched">*Username is a required field</small>
              </div>
            </div>
  
            <div class="column">
              <div class="input-box">
                <label>First Name</label>
                <input type="text" placeholder="First Name" name="firstname" [(ngModel)]="firstName" #fname="ngModel" maxlength="30" required />
                <div>
                  <small *ngIf="fname.invalid && fname.touched">*First Name is a Required Field</small>
                </div>
              </div>
  
              <div class="input-box">
                <label>Last Name</label>
                <input type="text" placeholder="Last Name" name="lastname" [(ngModel)]="lastName" maxlength="30" #lname="ngModel" />
                <div>
                  <small *ngIf="lname.invalid && lname.touched">*Last Name is a Required Field</small>
                </div>
              </div>
            </div>
  
            <div class="column">
              <div class="gender">
                <label>Gender</label>
                <div class="gender-option">
                  <div class="gender" *ngFor="let gen of genders">
                    <input type="radio" [id]="gen.id" [value]="gen.value" name="gender" [(ngModel)]="gender" />
                    <label [for]="gen.id">{{ gen.display }}</label>
                  </div>
                </div>
              </div>
  
              <div class="input-box">
                <label>DOB</label>
                <input type="date" placeholder="Date of Birth" name="dob" [(ngModel)]="dob" required #tempdob="ngModel" />
              </div>
            </div>
            <div class="input-box">
              <label>Email ID</label>
              <input type="text" placeholder="Email" name="email" maxlength="100" #email="ngModel" [(ngModel)]="emailAddress" required email />
              <div>
                <small *ngIf="email.invalid && email.touched">*Entered Email is not valid</small>
              </div>
            </div>
  
            <div class="input-box">
              <label>Mobile Number</label>
              <input type="number" placeholder="Phone Number" name="phone" [(ngModel)]="phone" />
            </div>
            <p-button label="Next" class="float-but" type="button" (click)="nextStep()"></p-button>
          </div>
  
          <div *ngIf="currentStep === 2">
            <div class="input-box address" ngModelGroup="address" #addr="ngModelGroup">
              <label>Address</label>
              <input type="text" placeholder="Street address line 1" name="street1" [(ngModel)]="street1" required />
              <input type="text" placeholder="Street address line 2" name="street2" [(ngModel)]="street2" />
              <div class="column">
                <div class="select-box">
                  <label>Country</label>
                  <select name="country" (change)="onCountryChange($event)" required [(ngModel)]="country">
                    <option value="India">India</option>
                    <option value="USA">USA</option>
                  </select>
                </div>
                <div class="select-box">
                  <label>State</label>
                  <select name="state" [(ngModel)]="statee" required>
                    <option *ngFor="let state of states" [value]="state">{{ state }}</option>
                  </select>
                </div>
              </div>
              <br>
  
              <div class="column">
                <div class="input-box">
                  <label>Zip Code</label>
                  <input type="number" placeholder="Postal code" name="postal" [(ngModel)]="postal" required />
                </div>
                <div class="select-box">
                  <label>TimeZone</label>
                  <select name="timezone" [(ngModel)]="timezonee" required>
                    <option *ngFor="let timezone of timezones"   [value]="timezone">{{ timezone }}</option>
                  </select>
                </div>
              </div>
            </div>
  
            <div class="column">
              <div class="column">
                <label for="locale">Locale</label>
                <select  name="locale" [(ngModel)]="localee" required>
                  <option *ngFor="let locale of locales" [value]="locale">{{ locale }}</option>
                </select>
              </div>
              <div class="column">
                <input type="checkbox" name="admin" [(ngModel)]="IsAdmin" disabled>
                <label for="admin">is Admin</label><br>
              </div>
            </div>
            <div class="input-box">
              <label for="password">Password</label>
              <p-password [(ngModel)]="password" [feedback]="false" [toggleMask]="true" inputId="password" name="password" #passwords="ngModel" inputStyleClass="w-full" styleClass="w-full" (ngModelChange)="validatePassword(password, confirmpassword)" required></p-password>
            </div>
            <div class="input-box">
              <label for="cpassword">Confirm Password</label>
              <p-password [(ngModel)]="confirmpassword" [feedback]="false" [toggleMask]="true" inputId="cpassword" name="cpassword" #cpassword="ngModel" inputStyleClass="w-full" styleClass="w-full" (ngModelChange)="validatePassword(password, confirmpassword)" required></p-password>
            </div>
  
            <small *ngIf="!passwordMatching && cpassword.dirty">Passwords Didn't match</small>
  
            <p-button class="float-but" type="button" (click)="previousStep()">Previous</p-button>
          </div>
  
          <div class="input-box" *ngIf="currentStep === 2">
            <p-button label="Sign Up" styleClass="w-full background-color-rgb(183, 145, 219)" [disabled]="signupForm.invalid || !passwordMatching" type="submit"></p-button>
          </div>
        </form>
        <div class="float-but"> Already have an account?
          <a routerLink="/login">Login</a>
        </div>
      </p-card>
    </div>
  </div>