<div class="product-container" >
  <h2>Welcome Admin!</h2>
  <div class="spinner-container" *ngIf="isLoading">
    <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '50px', height: '50px' }"  />
</div>
  <p-table *ngIf="!isLoading" [value]="orders" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="6">
    <ng-template pTemplate="header">
      <tr>
        <th>User Name</th>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Ordered Date</th>
        <th>Delivery Status</th>
        <th>Actions</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-order>
      <tr>
        <td>{{ order.userName }}</td>
        <td>{{ order.productName }}</td>
        <td>{{ order.quantity }}</td>
        <td>{{ order.orderDate | date: 'mediumDate' }}</td>
        <td>
          <p-tag 
            [value]="order.deliveryStatus" 
            [severity]="getSeverity(order.deliveryStatus)" 
            (click)="markProductAsDelivered(order.keyId, order.userId, order.productIndex)">
          </p-tag>
        </td>
        <td class="actions">
          <i
            class="fa-solid fa-eye"
            (click)="viewOrder(order)" 
            title="View Order">
        </i>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>


<!-- Order Details Popup -->
<p-dialog header="Order Details" [(visible)]="showDialog" [modal]="true" [closable]="true">
  <ng-template pTemplate="content">
    <div class="product-item">
      <img [src]="selectedProduct.productImage" alt="Product image" width="300px">
      <div class="product-info">
        <h2>{{ selectedProduct.productName }}</h2>
        <p><strong>Quantity:</strong> {{ selectedProduct.quantity }}</p>
        <p><strong>Order ID:</strong> {{ selectedProduct.orderId }}</p>
        <p><strong>User Name:</strong> {{ selectedProduct.userName }}</p>
        <p><strong>Address:</strong> {{ selectedProduct.street1 }}, {{ selectedProduct.street2 }}</p>
        <p><strong>State:</strong> {{ selectedProduct.state }}</p>
        <p><strong>Country:</strong> {{ selectedProduct.country }}</p>
        <p><strong>Post Code:</strong> {{ selectedProduct.pinCode }}</p>
        <p><strong>Delivery Status:</strong> {{ selectedProduct.deliveryStatus }}</p>
      </div>
    </div>
  </ng-template>
  <p-footer>
    <p-button label="Close" icon="pi pi-times" (click)="showDialog = false"></p-button>
  </p-footer>
</p-dialog>
