.product-container {
  overflow: hidden;
  height: 100%;
  background-color: white;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  padding-bottom: 140px;
  /* margin: 16px auto; */
  
}
h2{
  font-weight: 600;
  size: 20px;
  top: 10px;
}
.order-details {
  display: flex;
  flex-direction: column;
  /* gap: 5px; */
}
.product-info{
  margin-top: -2rem;
}
.product-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-info {
  display: flex;
  flex-direction: column;
}
.p-tag{
  cursor: pointer;
}

.p-button-text {
  cursor: pointer;
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
} 
:host ::ng-deep .p-datatable table {
  border-radius: 5px !important;
  overflow: hidden !important;
  border-collapse: separate !important;
  border-spacing: 0px 1px !important;
}
:host ::ng-deep .p-datatable-tbody > tr > td {
  padding: 10px;
}
:host ::ng-deep .p-datatable thead th {
  background-color: #f4f4f4 !important;
  color: #333 !important;
  font-weight: 600 !important;
  text-align: left !important;
  padding: 12px !important;
  border-top-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color:rgba(243, 243, 243, 1)  !important;
}
:host ::ng-deep .p-datatable{
  border-collapse: separate;
  row-gap: 20px;
}

:host ::ng-deep .p-datatable  tr td:first-child {
  border-left-width: 1px;
  /* border-radius: 5px 0 0 5px; */
}
:host ::ng-deep .p-datatable  tr td:last-child {
  border-right-width: 1px;
  /* border-radius: 0 5px  5px 0; */
}
:host ::ng-deep .p-datatable  th:first-child {
  border-left-width: 1px;
  border-radius: 5px 0  0 0;
}
:host ::ng-deep .p-datatable th:last-child {
  border-right-width: 1px;
  border-radius: 0 5px 0 0;
}




:host ::ng-deep .p-datatable tbody tr:hover{
  background-color: #e6e6ff !important;
}

:host ::ng-deep .p-datatable tbody td {
  /* padding: 12px !important; */
  border-top-width: 1px !important;
  border-bottom-width: 1px !important;
  border-color:rgba(250, 250, 250, 1)!important;
  border-style: solid  !important;
  color: #000000 !important;
  /* margin: 0px 10px !important; */
}

:host ::ng-deep .p-datatable tbody td i {
  cursor: pointer !important;
  font-size: 18px !important;
  margin-right: 20px !important;
}

:host ::ng-deep .p-datatable tbody td .fa-eye {
  color: rgba(20, 21, 105, 1)
}

.actions i{
  visibility: hidden;
}
.tr:hover.actions i{
  visibility: visible;
}

