<div class="product-container" >
  <h2>Welcome Admin!</h2>
  <p-progress-spinner  class="spinner-container" *ngIf="isLoading" strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '50px', height: '50px' }" />
  <p-table *ngIf="!isLoading" [value]="orders" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="12">
    <ng-template pTemplate="header">
      <tr>
        <th>User Name</th>
        <th>Product Count </th>
        <th>Ordered Item</th>
        <th> Order Delivered </th>
        <th></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-order>
      <tr>
        <td>{{ order.userName }}</td>
        <td>{{ order.quantity }}</td>
        <td>{{ order.productName }}</td><td>
          <p-tag 
            [value]="order.deliveryStatus" 
            [severity]="getSeverity(order.deliveryStatus)" 
            (click)="order.deliveryStatus = 'Delivered'; 
            markProductAsDelivered(order.keyId, order.userId, order.productIndex)">
          </p-tag>
        </td>
        <td class="actions">
          <i
            class="fa-solid fa-eye"
            (click)="viewOrder(order)" 
            title="View Order">
        </i>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>


<!-- Order Details Popup -->
<p-dialog header="View Order" [(visible)]="showDialog" [modal]="true" [closable]="true">
  <ng-template pTemplate="content">
    <div class="product-item">
      <img [src]="selectedProduct.productImage" alt="Product image" width="200px" height="150px">
      <div class="product-info">
        <p style="color:rgba(20, 21, 105, 1);">Delivered on {{ selectedProduct.orderDate | date: 'mediumDate' }}</p>
        <h2>{{ selectedProduct.productName }}</h2>
        <p><strong >Order ID:</strong> {{ selectedProduct.orderId }}</p>
        <p><strong>User Name:</strong> {{ selectedProduct.userName }}</p>
        <p><strong>Quantity:</strong> {{ selectedProduct.quantity }}</p>
        <p><strong>Address:</strong> {{ selectedProduct.street1 }}, {{ selectedProduct.street2 }}</p>
        <p>State: {{ selectedProduct.state }}</p>
        <p>Country:{{ selectedProduct.country }}</p>
        <p>Post Code: {{ selectedProduct.pinCode }}</p>
      </div>
    </div>
  </ng-template>
  <p-footer>
    <p-button label="Close" icon="pi pi-times" (click)="showDialog = false"></p-button>
  </p-footer>
</p-dialog>
