<app-create-task 
        *ngIf="showCreateTaskForm" 
        (CloseForm)="closeCreateTaskForm()"
        (emitTaskData)="createUpdateTask($event)"
        [isEditMode]="editMode"
        [selectedTask]="selectedTask"
></app-create-task>
<app-task-details *ngIf="taskDetails"
(closeDetailView)="closeDetailView()"
[currentTask]="currentTask"></app-task-details>
<div class="dashboard-container">
    <div style="display: flex;">
        <div style="width: 50%">
            <h2>Dashboard</h2>
        </div>
        <div style="width: 50%; text-align: right;">
            <button class="create-task-btn" (click)="openCreateTaskForm()">Create Task</button>
            <button class="create-task-btn" (click)="fetchAllTasksClicked()">Fetch Tasks</button>
            <button class="create-task-btn" (click)="clearAllTasks()">Clear Tasks</button>
        </div>
    </div>
    
    <hr>
    
    <div class="dashboard-item-container">
        <!-- <div class="sb sb-error" *ngIf="errorMsg"> {{errorMsg}}</div> -->
         <app-snackbar [errorMessage]="errorMsg" *ngIf="errorMsg"></app-snackbar>
        <app-loader *ngIf="isLoading"></app-loader>
        <div  *ngIf="allTasks.length<1" style="text-align: center;">
            <h2>NO TAsks Created Yet</h2>
        </div>
            <ng-container *ngIf="!isLoading">
                <div class="task-item"  [ngClass]="'task-'+ task.status" *ngFor="let task of allTasks">
                    <div class="task-title">
                        <h3> {{task.title}}</h3>
                    </div>
                    <p ><b>Assigned to: </b>{{task.assignedTo}}</p>
                    <p><b>Priority: </b>{{task.priority}}</p>
                    <p><b>Status: </b>{{task.status}}</p>
                    <div class="task-action-icons">
                        <button class="task-action-btn" title="Detail" (click)="showCurTaskDetails(task.id)" >
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                        </button>
                        <button class="task-action-btn" title="Edit"  (click)="editTask(task.id)">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </button>
                        <button class="task-action-btn" title="Delete" (click)="deleteTask(task.id)">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>            
                    </div>
                </div>
            </ng-container>
    </div>
</div>



