body{
    height: 50px;
}
.start-content{
    display: flex;
    align-items: center;
    gap: 10px;
}
.end-content{
    display:flex;
    align-items: center;
    gap:20px
}
app-weather{
    display: flex;
    align-items: center;  
}
.p-menu{
    border-bottom-left-radius: 0px !important;
}

