
    <p-menubar>
     <ng-template #start>
         <div class="start-content">
     <img src="assets/images/Group 1.png" alt="LOGO" height="50px">
     <i class="fa-solid fa-house icon" ></i>
     <div class="routeHead">{{ selectedLabel }}</div> 
     </div>
     </ng-template>
     <ng-template #end>
     <div class="end-content" >
         <app-weather></app-weather>
         <button pButton label="Logout" (click)="onLogout()"></button>
         <p-avatar *ngIf="imgURL; else initialsAvatar" [image]="imgURL"  class="mr-2" size="large" shape="circle"></p-avatar>
         <ng-template  #initialsAvatar>
            <div class="avatar-initials">{{ userInitials }}</div>
          </ng-template>
     </div>
    </ng-template>
    </p-menubar>
 