body{
    height: 50px;
}
.start-content{
    display: flex;
    align-items: center;
    gap: 10px;
}
.end-content{
    display:flex;
    align-items: center;
    gap:20px
}
app-weather{
    display: flex;
    align-items: center;  
}
.p-menu{
    border-bottom-left-radius: 0px !important;
}
.avatar-initials{
    background-color: rgb(187, 176, 176);
    border-radius: 50%;
    font-size: 25px;
    height: 40px;
    width:40px;
    font-style:normal;
    font-weight: 500;
    align-content: center;
    text-align: center;    
}
