<div>
    <app-child>
        <h3>Heading</h3>
        <div #para>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quia maxime nobis autem, distinctio unde,
             aperiam praesentium et sapiente architecto debitis nemo pariatur amet velit aliquid dolore tempora quibusdam excepturi!
        </div>
        <p #para>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quia maxime nobis autem, distinctio unde,
             aperiam praesentium et sapiente architecto debitis nemo pariatur amet velit aliquid dolore tempora quibusdam excepturi!
            </p>
        <p #para>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quia maxime nobis autem, distinctio unde,
             aperiam praesentium et sapiente architecto debitis nemo pariatur amet velit aliquid dolore tempora quibusdam excepturi!
            </p>
            <app-test [name]="'AAAA'"></app-test>
            <app-test [name]="'BBBB'"></app-test>
            <app-test [name]="'CCCC'"></app-test>
    </app-child>
    <!-- </div>button (click)="showParpara()">view</button> -->
</div>
