<!-- <div class="container">
    <app-header class="header"></app-header>
<div style="display: flex;">
<app-sidebar class="sidebar"
[isLeftSidebarCollapsed]="isLeftSidebarCollapsed()" 
(changeIsLeftSidebarCollapsed)="changeIsLeftSidebarCollapsed($event)"></app-sidebar>
<app-main></app-main>
</div>
</div> -->


<div class="container">
  <!-- Fixed Header -->
  <app-header></app-header>
<!--  (sidebarToggle)="toggleSidebar()" -->
  <div class="main-wrapper" style="display: flex;">
    <!-- Sidebar -->
    <app-sidebar class="sidebar" [isLeftSidebarCollapsed]="isLeftSidebarCollapsed"
      (changeIsLeftSidebarCollapsed)="changeIsLeftSidebarCollapsed($event)"
      [ngClass]="isLeftSidebarCollapsed?'sidenav-collapsed':''">
    </app-sidebar>

    <!-- Main Content -->
    <div class="content-wrapper" >
      <app-main [isLeftSidebarCollapsed]="isLeftSidebarCollapsed"></app-main>
    </div>
  </div>
</div>