.header {
    /* display: flex; */
    /* align-items: center;
    justify-content: space-between;
    margin-bottom: 20px; */

  }
  .sidebar {
    /* width: 250px;
     background-color: #d5c4e4; 
     padding: 20px; 
    height: 10vh; */
  }