body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* height: 100vh; */
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.image {
    max-width: 100%;
    height: auto;
}
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
