a {
    color: rgba(51, 51, 51, 1);
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.login-header {
    font-weight: 400;
    font-size: 30px;
    height: 37px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
    position: relative;
    left: calc(100vw - 89vw);
    top: calc(80vh - 100vh);
}

.image-container {
    display: flex;
    overflow: hidden;
}

.image {
    max-width: 100%;
    height: auto;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.center {
    text-align: center;
    height: 18px;
    left: 1313px;
    top: 635px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #333333;
}


.form-content {
    width: 90%;
    max-width: 600px;
}

:host ::ng-deep .p-inputtext {
    width: 100%;
    background: rgba(243, 243, 243, 1) !important;
    border-radius: 5px !important;
    border: none !important;
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 17px !important;
    color: #000000 !important;
    padding: 16px !important;
    box-sizing: border-box;
    height: 50px;
    background: #F3F3F3;
    border-radius: 5px;
}

:host ::ng-deep .p-inputtext:hover {
    border: none !important;
    background-color: rgba(243, 243, 243, 1) !important;
}

:host ::ng-deep .p-button {
    border: none !important;
    background-color: rgba(41, 165, 243, 1) !important;
    border-radius: 5px !important;
    padding: 16px !important;
}

:host ::ng-deep.p-button-text.p-button-secondary {
    background-color: white !important;
    color: #000000 !important;

}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

:host ::ng-deep .p-dialog {
    border-radius: 5px !important;
}

p-dialog input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.dialog-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.field {
    height: 84px;
    margin-top: 25px;
    margin-bottom: 0;
}

.field>label {
    margin-bottom: 10px;
}

.password-change-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input:-internal-autofill-selected {
    background-color: rgba(243, 243, 243, 1) !important;
}

@media screen and (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        height: auto;
    }

    .image-container {
        order: -1;
    }

    .form-container {
        padding: 10px;
    }
}

@media screen and (max-width: 2560px) {
    .login-header {
        left: calc(100vw - 93vw);
    }
}

@media screen and (max-width: 1024px) {
    .login-header {
        left: calc(100vw - 93vw);
    }
}

@media screen and (max-width: 768px) {
    .login-header {
        left: calc(100vw - 99vw);
    }
}

@media screen and (max-width: 430px) {
    .login-header {
        left: 30px;
        top: -20px;
    }
}

@media screen and (max-width: 330px) {
    .login-header {
        left: 20px;
        top: -20px;
        font-size: 25px;
    }
}