<div class="user-container">
  <div class="head-content">
    <h2>User Management</h2>
  <p-button label="Add User" icon="pi pi-user-plus" (click)="openUserDialog()" />

  </div>
<p-table [value]="users"  [paginator]="true" [rows]="5">
    <ng-template pTemplate="header">
      <tr>
        <th>User Image</th>
        <th>Username</th>
        <th>Age</th>
        <th>Products Count</th>
        <th>Country</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>
          <p-avatar [image]="user.userImage || 'assets/default-avatar.png'" shape="circle"></p-avatar>
        </td>
        <!-- <td><img [src]="user.image" alt="User Image" width="50"></td> -->
        <td>{{ user.username }}</td>
        <td>{{ user.age }}</td>
        <td>{{ user.productsCount ||0}}</td>
        <td>{{ user.country }}</td>
        <td>
          <p-button  icon="pi pi-pencil" (click)="openUserDialog(user)" />
          <p-button icon="pi pi-trash" severity="danger" #delete (click)="confirmDeleteUser(user.id)" />
        </td> 
    </ng-template>
  </p-table>
  </div>
  <!-- User Dialog -->
<p-dialog [(visible)]="displayDialog" modal="modal" [closable]="false" [style]="{width: '500px'}">
  <ng-template pTemplate="header">
    <h3>{{ isEditing ? 'Edit User' : 'Add User' }}</h3>
  </ng-template>
  <ng-template pTemplate="content">
    <app-user-form [newUser]="newUser" [isEditing]="isEditing" (save)="saveUser()" (cancel)="displayDialog = false"></app-user-form>
  </ng-template>
</p-dialog>

<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>