<div class="product-container">
  <div class="search-container">
    <h1 class="title">Available Products </h1>
    <div class="search-bar">
      <input type="text" pInputText [(ngModel)]="searchText"/>
      <i class="pi pi-search search-icon" (click)="searchProducts()"></i>
    </div>
  </div>

  <div class="product-grid">
    <p-progress-spinner  class="spinner-container" *ngIf="isLoading" strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '50px', height: '50px' }" />

    <div *ngFor="let product of filteredProducts" class="product-card">
      <img [src]="product.image" alt="{{ product.name }}" class="product-img" />
      <div class="overlay">
        <div *ngIf="!isAdmin">
          <div class="content">
            <h3>{{ product.name }}</h3>
            <p>{{ product.description }}</p>
          </div>
          <div class="quantity-controls">
            <button pButton icon="pi pi-minus" (click)="decrementQuantity(product)" class="p-button-text"></button>
            <span>{{ product.quantity }}</span>
            <button pButton icon="pi pi-plus" (click)="incrementQuantity(product)" class="p-button-text"></button>
          </div>
        </div>
        <div *ngIf="isAdmin" class="admin-overlay">
          <div class="acontent">
            <h3>{{ product.name }}</h3>
            <p>Available Quantity: <strong>{{ product.totalCount }}</strong></p>
            <p>Ordered Quantity: <strong>{{product.orderCount}}</strong></p>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="isAdmin && !isLoading" class="product-card add-product" (click)="showAddPopup()">
      <div class="add-icon">
        <i class="pi  pi-plus"></i>
      </div>
      <h3>Add Product</h3>
    </div>
  </div>
</div>
<p-dialog header="Add Product"   [modal]="true" [(visible)]="showPopup" >
  <div class="dailog-content">
    <div class="imgdialog-feild">
    <label>Add Image</label>
    <div class="image-upload">
      <div class="image-container" [ngClass]="{ 'drag-over': isDragging }" (dragover)="onDragOver($event)"
        (dragleave)="onDragLeave()" (drop)="onDrop($event)">
        <img *ngIf="imagePreview" [src]="imagePreview" alt="Preview" />
        <button *ngIf="imagePreview" class="remove-image-btn"
         (click)="removeImage()">X</button>
        <div class="flex" *ngIf="!imagePreview" >
        <div> <i class="fa-solid fa-folder-open"></i><br>
                   <span class="upload-icon">
            Drag & Drop here <br>or</span>
        </div>
          
          <button pButton label="Browse File" class="p-button-browse" (click)="fileInput.click()"></button>
        </div>
      </div>
      <input type="file" #fileInput accept="image/*" (change)="onImageUpload($event)" hidden />
    </div>
  </div>
    <div class="dialog-field">
      <label for="productName">Product Name</label>
      <input id="productName" type="text" [(ngModel)]="newProduct.name"  />
    </div>
    <div class="dialog-field">
      <label for="productDesc">Description</label>
      <input id="productDesc" type="text" [(ngModel)]="newProduct.description" />
    </div>
    <p-footer class="footer">
      <button pButton label="Cancel" class="p-button-secondary-ss" (click)="closePopup()"></button>
      <button pButton label="Save" class="p-button-primary" (click)="addNewProduct()"></button>
    </p-footer>
  </div>
</p-dialog>
<p-toast></p-toast>