<div class="container">
   <app-search></app-search>
</div>

   <!-- <div class="products-section">
     <div class="search-bar">
       <input type="text" pInputText placeholder="Search products..." />
       <button pButton type="button" icon="pi pi-search" (click)="0"></button>
     </div>
     <div class="product-tiles">
       <div *ngFor="let product of filteredProducts" class="product-tile">
         <img [src]="product.image" alt="{{product.name}}" />
         <div class="product-info">
           <h3>{{product.name}}</h3>
           <div class="quantity-controls">
             <button pButton type="button" icon="pi pi-minus" (click)="decreaseQuantity(product)"></button>
             <span>{{product.quantity}}</span>
             <button pButton type="button" icon="pi pi-plus" (click)="increaseQuantity(product)"></button>
           </div>
         </div>
       </div>
     </div>
   </div>
    -->
