<!-- <div class="home-container">
<div class="col12">
    <p>Home</p>

</div>
<div class="grid"> 
    <div class="col1">
        <p-card>fghjk</p-card>
    </div>
    <div class="col2">
        <p-card>67890</p-card>
    </div>
</div>
</div> -->

<div class="container">
    <div><p>Home</p></div>
    <div><p-card class="pcard" > 
        Go to User Service <i class="pi pi-angle-double-right"></i>
</p-card></div>
<div class="content">
    <div class="col6">
        <p-card></p-card>
    </div>
    <div class="col6">
        <p-card></p-card>
    </div>
</div>
</div>