.sidenav {
  background: rgba(193, 186, 221, 1);
  transition: all 0.2s ease;
  position: fixed;
  width: 15rem;
  height: 100%;
  top: 67px;
  left: 0;
}

.sidenav-collapsed {
  width: 5rem;
}

.sidenav .logo-container .logo {
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 40%;
  float: right;
  margin-right: -18px;
  position: relative;
}

.sidenav-nav {
  list-style: none;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-top: 0px;
}

.sidenav-nav .sidenav-nav-item {
  width: 100%;
  margin-bottom: 10px;
}

.sidenav-nav .sidenav-nav-item .sidenav-nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: -16px;
  margin-left: -16px;
  height: 39px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #141569;


}

.sidenav-nav .sidenav-nav-item .sidenav-nav-link .sidenav-link-icon {
  font-size: 22px;
  width: 2rem;
  min-width: 2rem;
  text-align: center;
  padding: 12px;
  padding-right: 15px;

  text-align: left;
  align-items: left;
  justify-content: center;
  align-content: left;
}

.sidenav-nav .sidenav-nav-item .sidenav-nav-link .sidenav-link-text {
  margin-left: 30px;
  font-size: large;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;

}

a.sidenav-nav-link.active {
  padding: 0;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.3);
}

.active .sidenav-link-icon,
.active .sidenav-link-text {
  color: #060e50;
}

@media screen and (max-width: 768px) {
  .sidenav {
    width: 5rem;
  }

  .sidenav-nav[_ngcontent-ng-c1439289101] .sidenav-nav-item[_ngcontent-ng-c1439289101] .sidenav-nav-link[_ngcontent-ng-c1439289101] {

    margin-right: 0px;
    margin-left: 0px;
  }

  .sidenav .sidenav-nav .sidenav-nav-item .sidenav-nav-link .sidenav-link-text {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .sidenav {
    top: 67px;
    bottom: 0;
  }
}