<div class="notice-container">
<div class="notice-header">
  <button (click)="onInfo()">Info</button>
  <button (click)="onService()">Services</button>
  <button (click)="onPrivacy()">privacy</button>
  <button (click)="onUserAggrement()">User Aggrement</button>
</div>
<div class="notice-body"  [ngSwitch]="tab">
  <div *ngSwitchDefault="'info'">
    <h1>Terms of services & privacy policy</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing 
      elit. Repellat sapiente laborum velit deleniti 
      expedita numquam ullam, cum tempora. Ex similique 
      laborum autem eveniet perspiciatis? 
      Fuga aut hic ad cupiditate voluptatem.
    </p>
  </div>
  <div *ngSwitchCase="'service'">
    <h1>Terms of services</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing 
      elit. Repellat sapiente laborum velit deleniti 
      expedita numquam ullam, cum tempora. Ex similique 
      laborum autem eveniet perspiciatis? 
      Fuga aut hic ad cupiditate voluptatem.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing 
      elit. Repellat sapiente laborum velit deleniti 
    </p>
  </div>
  
  <div *ngSwitchCase="'privacy'">
    <h1> privacy policy</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing 
      elit. Repellat sapiente laborum velit deleniti 
      expedita numquam ullam, cum tempora. Ex similique 
      laborum autem eveniet perspiciatis? 
      Fuga aut hic ad cupiditate voluptatem.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing 
      elit. Repellat sapiente laborum velit deleniti 
    </p>
  </div>
  <div *ngSwitchCase="'userAggrement'">
    <h1>User Aggrement</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing 
      elit. Repellat sapiente laborum velit deleniti 
      expedita numquam ullam, cum tempora. Ex similique 
      laborum autem eveniet perspiciatis? 
      Fuga aut hic ad cupiditate voluptatem.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing 
      elit. Repellat sapiente laborum velit deleniti 
    </p>
  </div>

</div>
</div>