@import 'primeflex/primeflex.css';
@import 'primeicons/primeicons.css';

/* @import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/themes/lara-dark-blue/theme.css'; */
body{
    margin: 0;
    padding: 0;
}
::ng-deep .p-card {
    width: 50%;
    margin: auto;
  }
  
  ::ng-deep .p-inputtext {
    width: 100%;
  }
 

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
  
  