@import 'primeflex/primeflex.css';
@import 'primeicons/primeicons.css';

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
::ng-deep .p-card {
    width: 50%;
    margin: auto;
  }
  
  ::ng-deep .p-inputtext {
    width: 100% ;
    background-color:rgba(243, 243, 243, 1) !important ;
    border-radius: 5px !important;
  }
 
  ::ng-deep .p-inputtext:hover{
    border:  1px solid rgba(41, 165, 243, 1);
  }

 
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}