<section>
    <h2>Standalone components</h2>
    <p>
        Lorem ipsum dolor elit. Voluptate, delectus tempore consequatur harum illum fuga suscipit earum commodi distinctio eveniet, similique sed reiciendis asperiores quos hic animi non minus rerum.
    </p>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis atque nemo ullam corrupti repellat numquam maiores cumque, nihil magni ad praesentium iusto dolore dolor similique iste libero.
    </p>
    <app-detail></app-detail>
</section>
