.container {
    background-color: rgba(225, 234, 245, 1);
    position: relative;
    top: 70px;
    height: calc(100vh - 70px);
    width: 100vw;
    overflow: hidden;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}


.p {
    position: absolute;
    top: 10px;
    left: 50px;
    height: 18px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}


:host ::ng-deep p-chart {
    width: 100% !important;
}

:host ::ng-deep .content .p-card-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 78vh;
}

.chart-labels {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #333333;
}

.chart-labels .label-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.chart-labels .label-item .color-box {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 4px;
}

.chart-labels .label-item .label-text {
    font-size: 14px;
}

.main {
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: absolute;
    top: 34px;
}

:host ::ng-deep .main .p-card {
    width: 95vw;
    height: 60px;
    background: #3443A0;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    justify-content: center;
}

.main i {
    position: absolute;
    top: 23px;
    padding-left: 2px;
    color: rgba(255, 163, 51, 1);
}

.content {
    position: absolute;
    display: flex;
    top: 120px;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    gap: -30px;

}

:host ::ng-deep .p-card {
    background: #fefffc;
    border-radius: 10px;
    width: 95vw;
    height: 78vh;
    top: 180px;

}

:host ::ng-deep .p-overlay-mask {
    background: none;
    position: none;
}

:host ::ng-deep .p-dialog-mask .p-overlay-mask {
    position: none;
}

:host ::ng-deep .p-dialog {
    position: absolute;
    width: 700px;
    max-height: 604px;
    left: 56vw;
    top: 68px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    border: none
}

:host ::ng-deep .p-dialog-header {
    padding: 25px 15px 0px 25px;
}

:host ::ng-deep .p-dialog-close-button {
    width: 14.44px;
    height: 13.44px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: none !important;
}

:host ::ng-deep .p-button-secondary {
    border: none !important;
    border-color: none;
}

:host ::ng-deep .p-button-icon-only.p-button-rounded {
    border-radius: 0;
}

:host ::ng-deep p-button {
    border: none !important;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 600px;
}

.header h3 {
    height: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.header h6 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-decoration-line: underline;
    width: 68px;
    height: 20px;
}

li {
    list-style-type: none;
    width: 100%;
    padding: 15px 25px 15px 25px;

}

li h4 {
    height: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    color: #000000;
}

:host ::ng-deep body.dark-mode li h4 {
    color: white !important;
}

li:hover {
    background: #F1F1F1;
}

li div {
    display: flex;
}

li div p {
    width: 600px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
}

:host ::ng-deep .p-button:focus-visible {
    outline: none;
}

:host ::ng-deep .p-dialog-content {
    padding: 0;
}

li i {
    color: black;
    visibility: hidden;
}

li:hover i {
    visibility: visible;
}

.dismiss {
    color: #162541;
}

.flex p {
    position: absolute;
    height: 24px;
    left: 55px;
    top: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

@media screen and (max-width: 800px) {
    :host ::ng-deep .content .p-card-content {
        flex-direction: column;
        align-items: center;
    }

    .chart-labels {
        flex-direction: row;
        gap: 20px;
    }
}

@media screen and (max-width: 350px) {
    :host ::ng-deep .content .p-card-content {
        flex-direction: column;
        align-items: center;
        width: 80vw;
    }

    .chart-labels {
        flex-direction: column;
        gap: 0px;
    }

    .header h3 {
        height: auto;
    }
}


:host ::ng-deep p-chart {
    width: 100%;
    height: auto;
    max-height: 400px;
}

@media screen and (max-width: 1024px) {
    :host ::ng-deep p-chart {
        max-height: 350px;

    }

}


@media screen and (max-width: 600px) {
    :host ::ng-deep p-chart {
        max-height: 300px;
        width: 80px;
    }
}



:host ::ng-deep .p-card {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1024px) {
    :host ::ng-deep .p-card {
        width: 90vw;

    }
}

@media screen and (max-width: 600px) {
    :host ::ng-deep .p-card {
        width: 90vw;
        flex-wrap: wrap;
    }
}

:host ::ng-deep .p-dialog {
    width: 70vw;
    max-width: 700px;
    height: auto;
    overflow-y: auto;
    left: 68%;
    transform: translateX(-50%);
}

@media screen and (max-width: 1024px) {
    :host ::ng-deep .p-dialog {
        width: 85vw;
        left: 60%
    }
}

@media screen and (max-width: 600px) {
    :host ::ng-deep .p-dialog {
        width: 95vw;
        max-height: 80vh;
        left: 50%;
        transform: translateX(-50%);
    }
}


:host ::ng-deep .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

@media screen and (max-width: 1024px) {
    .container {
        flex-direction: column;
        align-items: stretch;
    }
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 100%;
        padding: 10px;
    }
}