<div class="container">
    <p class="p">Home</p>
    <div class="main">
        <div  (click)="navigate()"> 
        <p-card class="cursor-pointer grid" >
            Go to Reminder Service <i class="pi pi-angle-double-right"></i>
        </p-card>
    </div>
    </div>
    <div class="content">
        <p-card class="flex">
            <p>Reminders</p>
            <p-chart #chart type="doughnut" [data]="chartData" [options]="chartOption"  height="400"></p-chart>
        <div class="chart-labels">
            <div class="label-item">
                <div class="color-box" style="background-color: #B8AFFC;"></div>
                <div class="label-text">Future</div>
            </div>
            <div class="label-item">
                <div class="color-box" style="background-color: #0000B0;"></div>
                <div class="label-text">Unread</div>
            </div>
            <div class="label-item">
                <div class="color-box" style="background-color: #5240DA;"></div>
                <div class="label-text">Inactive</div>
            </div>
        </div>
        </p-card>
</div>
<p-dialog  [(visible)]="visible" [modal]="true" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"  [draggable]="false" [resizable]="false" (onHide)="handlePopupClose()">
    <ng-template pTemplate="header">
        <div class="header">
            <h3>Today’s Reminders</h3>
            <h6 (click)="dismissAllReminders()" style="cursor: pointer;">Dismiss All</h6>
        </div>
    </ng-template>
    <div *ngIf="popupReminders.length > 0; else noReminders">
        <div *ngFor="let reminder of popupReminders" class="rem-item">
           <li>
            <h4>{{reminder.title}}</h4>
           <div>
            <p clas>{{reminder.detail}}</p>
                  <span (click)="dismissReminder(reminder)" class="dismiss" style="cursor: pointer;" ><svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#162541">
                    <path d="M312-144q-29.7 0-50.85-21.15Q240-186.3 240-216v-480h-48v-72h192v-48h192v48h192v72h-48v479.57Q720-186 698.85-165T648-144H312Zm72-144h72v-336h-72v336Zm120 0h72v-336h-72v336Z"/>
                  </svg></span>
           </div>  
        </li>
        </div>
        <div class="footer">
        </div>
        </div>
        <ng-template #noReminders>
            <h3 class="no-reminders" style="text-align: center; margin-top: 5%; margin-bottom: 2%;">No Reminders Available</h3>
        </ng-template>
</p-dialog>
  