
.wrapper {
  background: url('/assets/images/backgroundImg.png') no-repeat center center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.login-card {
  width: 532px;
  height: 584px;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 2rem;
  position: relative;
}

.logo img {
  height: 100px;
  margin-bottom: 0.5rem;
  margin-bottom: 1rem;
}
.title {
  font-family:'Poppins';
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 0.25rem;
}

.subtitle {
  
  font-family:'Poppins';
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #A09F9F;
  margin-bottom: 2rem;
}

.username {
  color: #3B5EC8;
  font-weight: 500;
}

.input-box {
  margin-bottom: 1.5rem;
  text-align: left;
  width: 100%;
}

.input-box label {
  font-family: 'Poppins';
  font-size: 15px;
line-height: 100%;
  color: #333333;
}

.input-box input,
:host ::ng-deep .p-inputtext {
  width: 100%;
  margin-top: 0.5rem;
  height: 55px;
  background: #f1f1f1;
  border: 1px solid #d9d8d8;
  border-radius: 10px;
  padding: 0 1rem;
  font-size: 15px;
  box-sizing: border-box;
}
:host::ng-deep.p-inputtext:enabled:focus{
  border-color: #d9d8d8 !important;
}
:host ::ng-deep .p-password {
  display: block;
}
:host ::ng-deep .p-password-toggle-mask-icon{
  top:56% !important;
}
:host ::ng-deep .p-button {
  width: 100% !important;
  height: 55px !important;
  background: #162541  !important;
  border: 1px solid#162541 !important;
  border-radius: 10px !important;
  color: white !important;
  font-size: 16px !important;
  font-weight: 600 Im !important ;
  font-family: 'Poppins' !important;
  margin-top: 1rem !important;
}

@media (max-width: 768px) {
  .login-card {
    width: 332px;
    height: 564px;
  }
}
@media (max-width: 321px) {
  .login-card {
    width: 300px;
  }
  .logo img {
    width: 200px;
  }
}