
    <!-- Main Content -->
    <div class="content">
      <div class="header">
        <h2>Available Products</h2>
        <input pInputText type="text" placeholder="Search Products..."  #searchInput/>
        <button (click)="updateSearchText()"><i class="pi pi-search"></i></button>
    
      <div>
        <p *ngIf="searchText!=''">
            <strong>Search result for: </strong> {{searchText}}</p></div>
          </div>
  
      <div class="product-grid">
        <div *ngFor="let product of products" class="product-card">
          <div class="header">
            <img [src]="product.image" alt="{{ product.name }}" class="product-img" />
          </div>
          <div class="title">
            <h3>{{ product.name }}</h3>
          </div>
          <div class="content">
            <p>{{ product.description }}</p>
            <div class="quantity-controls">
              <button pButton icon="pi pi-minus" (click)="decreaseQuantity(product)" class="p-button-text"></button>
              <span>{{ product.quantity }}</span>
              <button pButton icon="pi pi-plus" (click)="increaseQuantity(product)" class="p-button-text"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  