.reminder-container {
    position: relative;
    width: 92vw;
    justify-content: center;
    height: 80vh;
    left: 78px;
    top: 102px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

.container p {
    position: absolute;
    top: 78px;
    left: 80px;
    height: 18px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #747474;
}

p>span {
    color: #000000;
}

.container {
    background-color: rgba(225, 234, 245, 1);
    height: 100vh;
    top: 70px;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.heading {
    width: 213px;
    height: 27px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #333333;
}

.card {
    height: 80vh;
    overflow-x: auto;
}

:host ::ng-deep thead {
    background-color: #EAEAEA;
}


.grid {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

:host ::ng-deep .p-button {
    background: none !important;
    border: none !important;
}

:host ::ng-deep .p-button-add {
    background: #3443A0 !important;
    border: none !important;
    border-radius: 3px;
    color: white !important;
    font-weight: 800 !important;
}

:host ::ng-deep .p-dialog-footer .p-button {
    box-sizing: border-box !important;
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 13px !important;
    line-height: 100% !important;
    letter-spacing: 0% !important;
}

:host ::ng-deep .p-dialog-footer .p-button-primary {
    color: #FFFFFF !important;
    width: 60px !important;
    height: 30px !important;
    background: #162541 !important;
    border: 1px solid #162541 !important;
    border-radius: 6px !important;
    text-align: center;
}

:host ::ng-deep .p-dialog-footer .p-button-secondary-ss {
    box-sizing: border-box !important;
    width: 70px !important;
    height: 30px !important;
    background: #FFFFFF !important;
    border: 1px solid #E1E1E1 !important;
    border-radius: 6px !important;
    text-align: center;
}

:host ::ng-deep .p-button-outlined {
    color: #FFFFFF !important;
}


.input-box {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 5px;
    height: 60px;
    margin-bottom: 25px;

}

.detail-box {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 5px;
    height: 95px;
    margin-bottom: 25px;
}

textarea {
    height: 70px;
}

.fa-trash-can {
    color: #75767C;
}

:host ::ng-deep .p-inputtext,
textarea {
    background: #F1F1F1;
    border: none;
    font-family: 'poppins';
    font-size: 13px;
    font-weight: 500;
    border-radius: 6px;
    width: 500px;
    box-shadow: none;
    color: rgba(0, 0, 0, 1);
}

textarea {
    padding: .5rem .75rem;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
}

::ng-deep .p-inputtext:disabled {
    background-color: #e2e8f0;
    opacity: 1;
}

::ng-deep textarea:disabled {
    background-color: #e2e8f0;
    opacity: 1;
}

:host ::ng-deep .p-inputtext {
    height: 35px;
}

.no-resize {
    resize: none;
    overflow: hidden;
}

label {
    height: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: rgba(51, 51, 51, 1);
}

:host ::ng-deep .remadd .p-dialog {
    width: 546px;
    height: 428px;
    left: 687px;
    top: 110px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

:host ::ng-deep .p-dialog-header {
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 15px !important;
    line-height: 22px !important;
}

:host ::ng-deep .p-dialog-footer {
    height: 50px;
    background: #EFF6FF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 6px 6px;
    padding-top: 10px;
}

:host ::ng-deep .p-dialog-footer .p-button-text {
    color: #333333 !important;
    text-align: center;
}

:host ::ng-deep body.dark-mode.p-button {
    color: white !important;
}

:host ::ng-deep .remadd .p-dialog-content {
    overflow-y: hidden;
    padding: 25px;
    padding-top: 0;
}

:host ::ng-deep .p-datatable-thead>tr>th {
    border: none;
    border-bottom: 1px solid #E1E1E1 !important;
    height: 42px;
    background: #EAEAEA !important;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #333333;
}

:host ::ng-deep .p-datatable-tbody>tr>td {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #333333;
    height: 42px;
}

:host ::ng-deep .p-datatable-thead>tr>th.p-datatable-column-sorted {
    border: none;
    border-bottom: 1px solid #E1E1E1 !important;
    color: #000000 ;
}
:host ::ng-deep .dark-mode .p-datatable-thead > tr > th.p-datatable-column-sorted {
    color: white !important;

}

.tag-active {
    background: #28693D;
    border-radius: 10px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    height: 16px;
}

.tag-inactive {
    background: #B9B9B9;
    border-radius: 10px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    height: 16px;
}

.tag-unread {
    background: tomato;
    border-radius: 10px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    height: 16px;
}

.tag-default {
    background: #B9B9B9;
    border-radius: 10px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    height: 16px;
}

:host ::ng-deep .go-to-page .p-button-label {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    background: #3443A0;
    border-radius: 6px;
    width: 35px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

:host ::ng-deep .customSortIcon sortalticon:before {
    content: '\f0dc' !important;
    font-family: 'FontAwesome';
    margin-left: 0.2rem !important;
    margin-right: 0.3rem !important;
}

:host ::ng-deep .customSortIcon sortalticon:hover::before {
    color: #ffffff !important;
}

:host ::ng-deep .customSortIcon .p-icon {
    visibility: hidden !important;
}

:host ::ng-deep .customSortIcon sortamountupalticon:before {
    content: '\f0dd' !important;
    font-family: 'FontAwesome';
    margin-left: 0.7rem !important;
}

:host ::ng-deep .customSortIcon sortamountdownicon:before {
    content: '\f0de' !important;
    font-family: 'FontAwesome';
    margin-left: 0.7rem !important;
}

:host ::ng-deep .customSortIcon .p-datatable .p-sortable-column .p-sortable-column-icon {
    display: none !important;
}

::ng-deep .p-datatable {
    width: 100%;
    height: 80vh;
    border-radius: 5px !important;
    overflow: hidden;
}

::ng-deep.p-datatable-thead>tr>th {
    padding: 8px 4.7px !important;
}

::ng-deep.p-datatable-tbody>tr>td {
    padding: 5.7px !important;
}

::ng-deep.p-datatable-thead>tr>th:first-child {
    padding-left: 16px !important;
}

::ng-deep.p-datatable-tbody>tr>td:first-child {
    padding-left: 16px !important;
}


::ng-deep.p-paginator-current {
    position: absolute !important;
    left: 12px !important;

}

::ng-deep.p-paginator {
    justify-content: flex-end !important;
    align-items: center !important;
    border-radius: 0 0 5px 5px !important;
}

::ng-deep.p-paginator-page {
    min-width: 20px !important;
    height: 20px !important;
    color: #3443A0;
}

::ng-deep.p-paginator-page.p-paginator-page-selected {
    background: #3443A0 !important;
    color: #ffffff !important;
    border-radius: 5px !important;
    padding: 5px !important;
    height: 30px;
    width: 25px;
}

:host ::ng-deep .p-paginator-page,
:host ::ng-deep.p-paginator-next,
:host ::ng-deep .p-paginator-last,
:host ::ng-deep .p-paginator-first,
:host ::ng-deep .p-paginator-prev {
    border-radius: 0 !important;
    box-sizing: border-box;
    border: 1px solid #E1E1E1 !important;
    height: 30px !important;
    width: 25px !important;
}

:host ::ng-deep .p-paginator-page {
    border-left: none !important;
    border-right: none !important;
}

:host ::ng-deep.p-paginator-next,
:host ::ng-deep .p-paginator-prev {
    border-left: none !important;
    border-right: none !important;
}

:host ::ng-deep .p-paginator-first {
    border-right: none !important;
    border-top-left-radius: 6px !important;
    border-bottom-left-radius: 6px !important;
}

:host ::ng-deep .p-paginator-last {
    border-left: none !important;
    border-top-right-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
}


:host ::ng-deep angledoublelefticon {
    font-family: 'FontAwesome' !important;
    padding: 0;
    margin: 0;
}


body.dark-mode :host ::ng-deep .p-datatable {
    background: #1e1e1e !important;
}

body.dark-mode :host ::ng-deep .p-paginator {
    background: black !important;
    border: #000000 !important;
}

.go-input {
    width: 40px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    border-radius: 6px;
    height: 30px;
}

body.dark-mode.card {
    background: none !important;
}


:host ::ng-deep .popup .p-overlay-mask {
    top: 68px !important;
}

:host ::ng-deep .p-button:focus-visible {
    outline: none;
}

:host ::ng-deep .popup .p-overlay-mask {
    background: none !important;
    position: none I !important;
}

:host ::ng-deep .remadd .p-dialog-mask .p-overlay-mask {
    position: none;
}

:host ::ng-deep .p-dialog {
    margin-top: -210px !important;
    border: none !important;
    max-height: 600px;
}

:host ::ng-deep .p-paginator {
    position: absolute !important;
    bottom: 0 !important;
    width: 100% !important;
    border-top: 1px solid #E7E7E7 !important;
    display: flex !important;
    justify-content: flex-end !important;
    align-items: center;
    gap: 0 !important;
}

:host ::ng-deep .popup .p-dialog {
    width: 70vw !important;
    max-width: 700px !important;
    height: auto !important;
    overflow-y: auto !important;
    left: 68% !important;
    transform: translateX(-50%) !important;
}

:host ::ng-deep.p-paginator-content-end {
    margin-inline-start: 10px;
}

:host ::ng-deep.p-paginator-pages {
    gap: 0 !important;
}



@media (max-width: 1200px) {
    ::ng-deep.p-datatable {
        width: 100%;
        height: 70vh;
    }

    .reminder-container {
        height: 80vh;
    }

    .p-datatable {
        height: 75vh;
    }

    :host ::ng-deep .p-paginator {
        height: 47px;
        padding-bottom: 0 !important;
    }
}

@media (max-width: 768px) {
    .reminder-container {
        width: 95vw;
        left: 2.5vw;
    }

    p {
        top: 87px;
        left: 20px;
    }

    :host ::ng-deep .p-datatable-thead>tr>th,
    :host ::ng-deep .p-datatable-tbody>tr>td {
        font-size: 12px;
    }
}

@media (max-width: 435px) {
    :host ::ng-deep .remadd .p-dialog {
        width: 400px !important;
    }

    :host ::ng-deep.p-inputtext,
    textarea {
        width: 350px !important;
    }

    :host ::ng-deep .remadd .p-dialog-content {
        overflow: hidden;
    }
}

@media (max-width:376px) {
    :host ::ng-deep .remadd .p-dialog {
        width: 300px !important;
    }

    :host ::ng-deep.p-inputtext,
    textarea {
        width: 250px !important;
    }

    :host ::ng-deep .remadd .p-dialog-content {
        overflow: hidden;
    }
}

:host ::ng-deep .popup .p-dialog {
    position: absolute;
    width: 700px;
    max-height: 604px;
    left: 56vw;
    top: 68px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    border: none
}

:host ::ng-deep .popup .p-dialog-header {
    padding: 25px 15px 0px 25px;
}

:host ::ng-deep .popup .p-dialog-close-button {
    width: 14.44px;
    height: 13.44px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: none !important;
}
:host ::ng-deep .p-button-secondary {
    border: none !important;
    border-color: none;
}

:host ::ng-deep .p-button-icon-only.p-button-rounded {
    border-radius: 0;
}

:host ::ng-deep p-button {
    border: none !important;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 600px;
}

.header h3 {
    height: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.header h6 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-decoration-line: underline;
    width: 68px;
    height: 20px;
    margin-top: 5px;
}


li {
    list-style-type: none;
    width: 100%;
    padding: 15px 25px 15px 25px;

}

li h4 {
    height: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    color: #000000;
}

:host ::ng-deep body.dark-mode li h4 {
    color: white !important;
}

li:hover {
    background: #F1F1F1;
}

li div {
    display: flex;
}

li div p {
    width: 600px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
}

:host ::ng-deep .popup .p-dialog-content {
    padding: 0;
}

li i {
    color: black;
    visibility: hidden;
}

li:hover i {
    visibility: visible;
}

.dismiss {
    color: #162541;
}

.flex p {
    position: absolute;
    height: 24px;
    left: 55px;
    top: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}