
<div class="container">
    <div class="reminder-container">
  <div class="grid">
    <h1 class="heading">Reminder Service</h1>
    <p-button class="p-button-add" (click)="showDailog()"><i class="pi pi-plus add"></i></p-button>
</div>
        <div class="card">
            <p-table [value]="reminders" [tableStyle]="{'min-width': '60rem'}">
                <ng-template #header>
                    <tr>
                        <th pSortableColumn="title" style="width:18%">
                            Name <p-sortIcon field="title" />
                        </th>
                        <th pSortableColumn="rdt" style="width:18%">
                            Reminder Date Time <p-sortIcon field="rdt" />
                        </th>
                        <th pSortableColumn="cdt" style="width:18%">
                            Created Date Time    <p-sortIcon field="cdt" />
                        </th>
                      
                        <th pSortableColumn="status" style="width:12%">
                            Status <p-sortIcon field="status" />
                        </th>
                        
                        
                        <th style="width:10%">
                        </th>
                    </tr>
                </ng-template>
                <ng-template #body let-reminder>
                    <tr>
                        <td>{{ reminder.title  }}</td>
                        <td>{{ reminder.reminderdt | date:"MM/dd/YYYY  HH:MM a"}}</td>
                        <td>{{ reminder.createdatetime |date:"MM/dd/YYYY  HH:MM a"}}</td>
                        <td>
                            <p-tag [value]="reminder.status" [severity]="getSeverity(reminder.status)" />

                        </td>
                        <td><i class="fa-regular fa-trash-can"></i></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
</div>
</div>
<p-dialog [(visible)]="visible" [modal]="true" >
   <ng-template #header>
    Reminder Details
</ng-template>
<div class="input-box">
    <label for="title" >Title</label>
    <input pInputText id="title"  />
</div>
<div   class="input-box">
    <label for="detail" >Detail</label>
    <textarea id="address2" class="no-resize" pInputTextarea rows="4"  name="address2"></textarea>
</div>
<div class="input-box">
    <label for="datetime" >Date Time</label>
    <p-datepicker  [iconDisplay]="'input'" [showIcon]="true" name="dob" inputId="templatedisplay">
        <ng-template #inputicon let-clickCallBack="clickCallBack">
          <i class="fa-solid fa-calendar-days"  (click)="clickCallBack($event)"></i>
        </ng-template>
    </p-datepicker>
</div>
<ng-template #footer>
          <p-button label="Cancel" [text]="true" class="p-button-secondary-ss" (click)="visible = false" />
        <p-button label="Save" class="p-button-primary" (click)="visible = false" />
 </ng-template>
</p-dialog>