<section>
    <h3>Key Points</h3>
    <div appHighlight >
        <ul>
            <li><b>Self-Contained</b>Standalone components are self-contained and do not require a parent module to function.</li>
            <li><b>Improved Modularity:</b>educe the dependency on Angular modules, making the application structure more flexible.</li>
            <li><b>Simplified Dependencies:</b>simplifies the dependency management and reduces the need to import dependencies at the module level.</li>
        </ul>
    </div>
    <p>
        Lorem ipsum dolor sit amet.
    </p>
</section>
<button (click)="onClick()">{{action}}</button>