
<p-confirmDialog #confirmDialog key="deleteConfirm"></p-confirmDialog>

<div class="order-container">
    <h2>My Orders</h2>
    <div *ngIf="isLoading" class="spinner-container">
        <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '50px', height: '50px' }" />
    </div>
    <p-table *ngIf="!isLoading" [value]="orders" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="8">
        <ng-template #header>
            <tr>
                <th>Order Id</th>
                <th>Orders Count</th>
                <th>Order Date Time</th>
                <th>Delivery Status</th>
                <th>Actions</th>
                <!-- <th></th> -->
            </tr>
        </ng-template>
        <ng-template #body let-order>
            <tr>
                <td>{{ order.orderId }}</td>
                <td>{{ order.products?.length||0}}</td>
                <td>{{ order.orderDate | date:'medium'}}</td>
                <td>
                    <p-tag [value]="order.deliveryStatus" [severity]="getSeverity(order.deliveryStatus)" />
                </td>
                <td class="actions">
                    <i  class="fa-solid fa-eye"   (click)="viewOrder(order)"></i>
                    <i class="fa-solid fa-trash" (click)="confirmDelete(order.keyId)"></i>
                </td>
            </tr>
        </ng-template>
    </p-table>

</div>
<p-dialog header="Order Details" [modal]="true" [(visible)]="showPopup" [style]="{width: '679px',}">
    <ng-template pTemplate="content">
        <ng-container *ngIf="selectedOrder">
            <h2>Ordered Products</h2>
            <div *ngFor="let product of selectedOrder.products" class="product-info">
                <div class="order-details">
                    <img [src]="product.image" >
                    <div class="product-info">
                        <p>Ordered Date: {{ selectedOrder.orderDate | date:'medium'}}</p>
                        <p><strong>{{product.name}}</strong> </p>
                        <p>Quantity: {{ product.quantity }}</p>
                        <p>Order ID: {{ selectedOrder.orderId }}</p>
                        <p>Address Line 1: {{ selectedOrder.address1 }}</p>
                        <p>Address Line 2: {{ selectedOrder.address2 }}</p>
                        <p>State: {{ selectedOrder.state }}</p>
                        <p>Zip Code: {{ selectedOrder.zipCode }}</p>
                        <p>Delivery Status: {{product.deliveryStatus|| 'pending' }}</p>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-template>
    <ng-template pTemplate="footer">
        <p-button label="Close" icon="pi pi-times" (click)="showPopup = false" class="p-button-text" />
    </ng-template>
</p-dialog>






