.order-container {
  overflow: hidden;
  height: 100%;
  background-color: white;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  padding-bottom: 100px;
}

h2 {
  color: rgba(20, 21, 105, 1);
height: 24px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
color: #141569;
margin-top: 0;
margin-bottom: 30px;
}

:host ::ng-deep .p-dialog {
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 5px !important;
  padding: 0;
  top: -120px;
  height: 395px;
  max-height: 385px;
  max-width: 580px;
  overflow-y: auto;
  width: 95%;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  z-index: 1102;

}
:host ::ng-deep .delete-dialog .p-dialog {
    top: -200px !important;
  position: relative;
}


:host ::ng-deep .p-dialog-header {
  padding: 0 !important;
  margin: 20px !important;
 /* margin-bottom: 0 !important; */
}
 :host ::ng-deep .delete-dialog .p-dialog-header {
  height: 35px !important;
  margin: 0 !important;

}
:host ::ng-deep .p-overlay-mask{
  top:68px  !important;
}
:host ::ng-deep .delete-dialog .p-dialog-content {
  padding: 0 !important;
}

.order-details {
  display: flex;
  align-items: center;
  gap: 5px;
  overflow: auto;
  flex-grow: 1;
  /* margin-top: 25px; */

}

.order-details img {
  width: 290px;
  height: 280px;
  object-fit: cover;
  margin-right: 15px;
  /* margin-bottom: 25px; */
}

.product-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  /* margin-top: -5px; */
}

.product-info p {
  margin: 2px 0;
  color: rgba(51, 51, 51, 1)
}

.product-info h3 {
  font-size: 16px;
  font-weight: 700;
  color: rgba(51, 51, 51, 1)
}

.product-info strong {
  color: #333;
  font-weight: bold;
}



.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 250px);
}



.fa-eye,
.fa-trash {
  cursor: pointer;
  font-size: 16px;
}

.actions i {
  visibility: hidden;
  margin-right: 12px;
}

tr:hover .actions i {
  visibility: visible;
}

:host ::ng-deep .p-datatable table {
  border-radius: 5px !important;
  overflow: hidden !important;
  border-collapse: separate !important;
  border-spacing: 0px 1px !important;
}

:host ::ng-deep .p-datatable thead th {
  background-color: #f4f4f4 !important;
  color: #333 !important;
  font-weight: 600 !important;
  text-align: left !important;
  padding: 12px !important;
  border-top-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: rgba(243, 243, 243, 1) !important;
}

:host ::ng-deep .p-datatable {
  border-collapse: separate;
  /* border-spacing: 0 1px; */
  row-gap: 20px;
}

:host ::ng-deep .col-12 {
  padding: 0;
}

:host ::ng-deep .p-datatable tr td:first-child {
  border-left-width: 1px;
  /* border-radius: 5px 0 0 5px; */
}

:host ::ng-deep .p-datatable tr td:last-child {
  border-right-width: 1px;
  /* border-radius: 0 5px  5px 0; */
}

:host ::ng-deep .p-datatable th:first-child {
  border-left-width: 1px;
  border-radius: 5px 0 0 0;
}

:host ::ng-deep .p-datatable th:last-child {
  border-right-width: 1px;
  border-radius: 0 5px 0 0;
}

.disp {
  direction: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

:host ::ng-deep .p-datatable tbody tr {
  margin-bottom: 5px !important;
}

:host ::ng-deep .p-datatable tbody tr:hover {
  background-color: #e6e6ff !important;
}

:host ::ng-deep .p-datatable tbody td {
  padding: 12px !important;
  border-top-width: 1px !important;
  border-bottom-width: 1px !important;
  border-color: rgba(250, 250, 250, 1) !important;
  border-style: solid !important;
  /* background-color: red  !important; */
  color: #000000 !important;
  margin: 0px 10px !important;
}

:host ::ng-deep .p-datatable tbody td i {
  cursor: pointer !important;
  font-size: 18px !important;
  margin-right: 20px !important;
}

:host ::ng-deep .p-datatable tbody td .fa-eye {
  color: rgba(20, 21, 105, 1)
}

:host ::ng-deep .p-datatable tbody td .fa-trash {
  color: rgba(90, 90, 90, 1);
}

.error-icon {
  font-size: 5rem;
  background-color: rgba(214, 66, 66, 0.5);
  border-radius: 50%;
  color: white;
  margin-top: -7px;
}

.custom-cancel-btn {
  color: #141569 !important;
  background: rgba(243, 243, 243, 1) !important;
  border: 1px solid #141569 !important;
  font-weight: bold;
  width: 200px  !important;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
  height: 34px;


}

:host ::ng-deep .custom-cancel-btn .p-button-label {
  color: rgba(20, 21, 105, 1);
}


:host ::ng-deep .p-button {
  background: none !important;
  border: none !important;
}

:host ::ng-deep .p-button-secondary {
  background: none !important;
  border: none !important;
  text-align: center;
}


.custom-delete-btn {
  background: #141569 !important;
  color: white !important;
  font-weight: bold !important;
  border: none !important;
  border-radius: 5px !important;
  text-align: center;
  width: 200px !important;
  height: 34px;
}

::ng-deep .p-dialog-footer {
  display: flex !important;
  justify-content: space-between !important;
  padding-top: 15px !important;
}

p-dialog {
  max-width: 90vw !important;
  width: 100%;
}

:host ::ng-deep .p-dialog-content{
  padding: 0 px;
}

@media (max-width: 600px) {
  .disp {
    text-align: center;
    padding: 20px;
  }

  .dialog-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .order-details {
    flex-direction: column;
    align-items: flex-start;
    /* gap: 8px; */
  }

  .order-details img {
    width: 80%;
    height: 250px;
  }

  .product-info h3 {
    font-size: 14px;
  }

  .product-info p {
    font-size: 12px;
  }
}

@media (max-width: 768px) {


  .delete-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .order-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .order-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .order-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
  }

  .product-info {
    width: 100%;
  }

  .order-image {
    width: 100%;
    max-width: 250px;
    height: auto;
    margin-bottom: 10px;
  }

}