<p-dialog class="delete-dialog" [(visible)]="visible" [modal]="true" [style]="{ 'width': '450px', 'height':'279px'}">
    <ng-template #content [style]="{padding:0}">
        <div class="disp">
            <div class=" col-12">
                <i class="pi pi-times-circle error-icon"></i>
            </div>
            <h3 class="dialog-title">Are You sure!??</h3>
            <p>Do you really want to delete the selected item?</p>
        </div>
    </ng-template>
    <ng-template #footer>
        <p-button label="Cancel" severity="secondary" class="custom-cancel-btn" (click)="visible = false" />
        <p-button label="Delete" class="custom-delete-btn" severity="primary" (click)="confirmDelete()" />
    </ng-template>
</p-dialog>

<div class="order-container">
    <h2>My Orders</h2>
    <div *ngIf="isLoading" class="spinner-container">
        <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s"
            [style]="{ width: '50px', height: '50px' }" />
    </div>
    <p-table *ngIf="!isLoading" [value]="orders" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="8">
        <ng-template #header>
            <tr>
                <th pSortableColumn="orderId">
                    Order ID <p-sortIcon field="orderId"></p-sortIcon>
                </th>
                <th pSortableColumn="products.length">
                    Product Count <p-sortIcon field="products.length"></p-sortIcon>
                </th>
                <th pSortableColumn="orderDate">
                    Order Date Time <p-sortIcon field="orderDate">

                    </p-sortIcon></th>
                <th pSortableColumn="deliveryStatus">
                    Delivery Status <p-sortIcon field="deliveryStatus">
                    </p-sortIcon>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template #body let-order>
            <tr>
                <td>{{ order.orderId }}</td>
                <td>{{ order.products?.length||0}}</td>
                <td>{{ order.orderDate | date:'dd/MM/yyyy-hh:mm a'}}</td>
                <td>
                    <p-tag [value]="order.deliveryStatus" [severity]="getSeverity(order.deliveryStatus)" />
                </td>
                <td class="actions">
                    <i class="fa-solid fa-eye" (click)="viewOrder(order)"></i>
                    <i class="fa-solid fa-trash" (click)="deleteOrder(order.keyId)"></i>
                </td>
            </tr>
        </ng-template>

    </p-table>

</div>
<p-dialog header="View Order" [(visible)]="showPopup" [modal]="true">
    <ng-container *ngIf="selectedOrder">
        <div *ngFor="let product of selectedOrder.products" class="product-info">
            <div class="order-details">
                <img [src]="product.image">
                <div class="product-info">
                    <p style="color: rgba(20, 21, 105, 1);">Ordered on {{ selectedOrder.orderDate |
                        date:'ddd/MM/yyyy-hh:mm a'}}
                    <p *ngIf="selectedOrder.deliveryDate" style="color: rgba(20, 21, 105, 1);">Delivered on {{
                        selectedOrder.deliveryDate | date:'dd/MM/yyyy-hh:mm a'}}
                    </p>
                    <h3>{{product.name}}</h3>
                    <p>Quantity: {{ product.quantity }}</p>
                    <p>Order ID: {{ selectedOrder.orderId }}</p>
                    <p>Address Line 1: {{ curUser.address1}}</p>
                    <p>Address Line 2: {{ curUser.address2 }}</p>
                    <p>State: {{ curUser.state }}</p>
                    <p>Zip Code: {{ curUser.zipCode }}</p>
                    <p>Delivery Status: {{product.deliveryStatus|| 'pending' }}</p>
                </div>
            </div>
        </div>
    </ng-container>
</p-dialog>