<div class="card">
    <p-table [value]="orders" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template #header>
            <tr>
                <th>Order Id</th>
                <th>Orders Count</th>
                <th>Order Date time</th>
                <th>is Delivered</th>
                <th>Actions</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template #body let-order>
            <tr >
                <td>{{ order.orderId }}</td>
                <td>{{ order.orderCount}}</td>
                <td>{{ order.orderDate}}</td>
                <!-- <td>{{ order.deliverySatus}}</td>-->
                 <td>
    <p-tag [value]="order.deliveryStatus" [severity]="getSeverity(order.deliveryStatus)" />
</td> 
                <td >
                    <i style="padding-right: 20px;" class="fa-solid fa-eye" ></i>              
                 <i class="fa-solid fa-trash" (click)="deleteOrder(order.id)"></i>
                 </td>
            </tr>
        </ng-template>
    </p-table>
</div>






<!-- <div class="card flex justify-center gap-2">
                    <p-toast/>
                    <p-confirmdialog>
                        <ng-template #message let-message>
                            <div class="flex flex-col items-center w-full gap-4 border-b border-surface-200 dark:border-surface-700">
                                <i [ngClass]="message.icon" class="!text-6xl text-primary-500"></i>
                                <p>{{ message.message }}</p>
                            </div>
                        </ng-template>
                    </p-confirmdialog>
                    <p-button (click)="confirm1($event)" label="Delete" severity="danger" [outlined]="true" />
                </div> -->