.order-details {
    display: flex;
    align-items: center;
    gap: 20px; 
    margin-bottom: 10px;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.order-details img {
    width: 150px; 
    height: 200px; 
    object-fit: cover;
    border-radius: 8px;
}

.product-info {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
}

.product-info p {
    margin: 5px 0;
    font-size: 13px;
}

.product-info strong {
    color: #333;
    font-weight: bold;
    }


      
      
      /* Icons */
      .fa-eye, .fa-trash {
        cursor: pointer;
        font-size: 18px;
        margin-right: 10px;
      }
      
      
/*


:host ::ng-deep .p-dialog .p-dialog-header {
    text-align: center;
    border-bottom: none;
  }
  
  :host ::ng-deep .p-dialog .p-dialog-content {
    text-align: center;
    font-size: 16px;
  }
  
  :host ::ng-deep .p-dialog .p-dialog-content .pi-times-circle {
    font-size: 48px;
    color: #e74c3c;
    display: block;
    margin: auto;
  }
  
  .custom-delete-btn {
    background-color: #0a0a3e !important;
    color: white !important;
    border-radius: 6px !important;
    padding: 10px 20px !important;
  }
  
  .custom-cancel-btn {
    background-color: white !important;
    color: black !important;
    border: 1px solid #ccc !important;
    border-radius: 6px !important;
    padding: 10px 20px !important;
  }
  
  :host ::ng-deep .p-dialog-footer {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
   */